
h1 {
    color: #333;
    font-size: 41px;
    font-weight: bold;
    margin: 0 0 10px;
    text-align: center;
}

label {
    color: #333;
    font-size: 21px;
    font-weight: bold;
    margin: 0 0 5px;
}

.buttons {
    margin: 20px 0 0;
    text-align: center;
}

form {
    display: none;/* Hide the form */
}