h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    border: double;
    margin: 0%;
}

* {
    box-sizing: border-box;/*This property makes sure that the padding and border are included in the total width and height of the elements*/
    margin: 0px;/*This property removes the default margin of the body*/   
    padding: 0px/*This property removes the default padding of the body*/;
    background-color: #24252a;/*This property sets the background color of the body*/
}

li, a, button {
    font-family: 'Montserrat', sans-serif;/*This property sets the font family of the elements*/
    font-weight: 500;/*This property sets the font weight of the elements*/
    font-size: 30px;/*This property sets the font size of the elements*/
    color: #edf0f1;/*This property sets the color of the elements*/
    text-decoration: none;/*This property removes the underline of the elements*/   
}

header {
    display: flex;/*This property makes the header a flex container*/
    justify-content: center;/*This property aligns the items to the right of the header*/
    align-items: center;/*This property aligns the items to the center of the header*/
    padding: 30px 10%;/*This property sets the padding of the header*/
}

.Logo{
    cursor: pointer;/*This property changes the cursor to a pointer when hovering over the logo*/
    margin-right: auto;/*This property aligns the logo to the left of the header*/
}

.nav_links {
    list-style: none;/*This property removes the bullet points from the list*/}

.nav_links li{
    display: inline-block;/*This property makes the list items display in a row*/
    padding: 0px 20px;/*This property sets the padding of the list items*/
}

.nav_links, li, a {
    transition: all 0.3s ease 0s;/*This property sets the transition of the elements*/
}

.nav_links li a:hover {
    color: #0088a9;/*This property changes the color of the list items when hovering over them*/
}

button {
    margin-left: 20px;/*This property sets the margin of the button*/
    padding: 9px 25px;/*This property sets the padding of the button*/
    background-color: rgba(0, 136, 169, 1);/*This property sets the background color of the button*/
    border: none;/*This property removes the border of the button*/
    border-radius: 50px;/*This property sets the border radius of the button*/
    cursor: pointer;/*This property changes the cursor to a pointer when hovering over the button*/
    transition: all 0.3s ease 0s;/*This property sets the transition of the button*/
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);/*This property changes the background color of the button when hovering over it*/
}
