h1 {
    color: #333;
    font-size: 41px;
    font-weight: bold;
    margin: 0 0 10px;
    text-align: center;
}

h2 {
    color: #333;
    font-size: 41px;
    font-weight: bold;
    margin: 0 0 10px;
    text-align: center;
}

button {
    align-items: rig;
    background-color: #333;
    border: 0;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 21px;
}

label {
    color: #333;
    font-size: 21px;
    font-weight: bold;
    margin: 0 0 5px;
}

.buttons {
    margin: 20px 0 0;
    text-align: center;
}

form {
    display: none;
    /* Hide the form */
}

.containter {
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
}